
:root {
  --first: #0D1B2A;
  --second: #1b263b;
  --third: #415A77;
  --fourth: #778da9;
  --last: #E0E1DD;
}
/* Basic styling */
* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}
.minmax {
  color: var(--fourth);
}
body {
  font-family: "Segoe UI", sans-serif;
  background: var(--first) !important ;
  color: #FFF;
}

h1 {margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
}
html {
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Styling of window frame and titlebar */
body {
  border: 1px solid var(--first);
  overflow-y: hidden;
  overflow-x: hidden;
  
}

#titlebar {
  display: block;
  position: fixed;
  height: 30px;
  width: calc(100% - 2px);
  
}

.maximized #titlebar {
  width: 100%;
  padding: 0;
}

#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 20px;
  overflow-y: auto;
}

#titlebar {
  padding: 4px;
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

#titlebar {
  color: #FFF;
}

#titlebar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
  
}

.maximized #window-title {
  margin-left: 12px;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 30px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-size: 16px;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  color: rgba(255,255,255,0.4)
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

#window-controls .button {
  user-select: none;
}

#window-controls .button:hover {
  background: rgba(255,255,255,0.1);
}

#window-controls .button:active {
  background: rgba(255,255,255,0.2);
}

#close-button:hover {
  background: #E81123 !important;
}

#close-button:active {
  background: #F1707A !important;
}
#close-button:active .icon {
  filter: invert(1);
}

#min-button {
  grid-column: 1;
}
#max-button, #restore-button {
  grid-column: 2;
}
#close-button {
  grid-column: 3;
}

#restore-button {
  display: none !important;
}

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}


.vertical-nav {
  min-width: 4rem;
  width: 10px;
  height: 100vh;
  float: left;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
.vertical-nav i {
  align-items: center;
  align-content: center;
  font-size: 30px;
}
.nav-link {
  text-align: center;
  padding-top: 20px;
}

.custom-tooltip {
  --bs-tooltip-bg: red;
}

#sidebar {
  background-color: var(--third);
}


.vertical-nav li:hover {
  background-color: var(--fourth);
  color: #ffffff;
}
 


span {
  font-weight: 600;
  position: absolute;
  left: 50px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}



.vertical-nav li:hover span {
  visibility: visible;
  opacity: 1;
  padding: 20px;
  background-color: var(--last);
  border-radius: 10px;
  box-shadow: 10px 0 50px rgba(0, 0, 0, 0.2);
}

#audioSound {
  border-color: red;
}
.vertical-nav-right {
  min-width: 4rem;
  width: 370px;
  height: 100vh;
  float: right;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}
.vertical-nav-right i {
  align-items: center;
  align-content: center;
  font-size: 30px;
  
}


.soundButton:hover {
  background-color: var(--fourth);
  border-color: var(--fourth);
}
.soundButton:focus {
  background-color: var(--second);
  border-color: var(--second);
}

.audio-player {
  height: 50px;
  width: 350px;
  background: hsla(0, 0%, 0%, 0);
  box-shadow: 0 0 20px 0 #000a;
  font-family: arial;
  color: white;
  font-size: 0.75em;
  overflow: hidden;
  display: grid;
  grid-template-rows: 6px auto;
}

.audio-player .timeline {
  background: white;
  width: 100%;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 #0008;
}

.audio-player .timeline .progress {
  background: var(--first);
  width: 0%;
  height: 100%;
  transition: 0.25s;
}

.audio-player .controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
}
.audio-player .controls > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-player .controls .toggle-play.play {
  cursor: pointer;
  position: relative;
  left: 0;
  height: 0;
  width: 0;
  border: 7px solid #0000;
  border-left: 13px solid white;
}
.audio-player .controls .toggle-play.play:hover {
  transform: scale(1.1);
}
.audio-player .controls .toggle-play.pause {
  height: 15px;
  width: 20px;
  cursor: pointer;
  position: relative;
}
.audio-player .controls .toggle-play.pause:before {
  position: absolute;
  top: 0;
  left: 0px;
  background: white;
  content: "";
  height: 15px;
  width: 3px;
}
.audio-player .controls .toggle-play.pause:after {
  position: absolute;
  top: 0;
  right: 8px;
  background: white;
  content: "";
  height: 15px;
  width: 3px;
}
.audio-player .controls .toggle-play.pause:hover {
  transform: scale(1.1);
}
.audio-player .controls .time {
  display: flex;
}
.audio-player .controls .time > * {
  padding: 2px;
}
.audio-player .controls .volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.audio-player .controls .volume-container .volume-button {
  height: 26px;
  display: flex;
  align-items: center;
}
.audio-player .controls .volume-container .volume-button .volume {
  transform: scale(0.7);
}
.audio-player .controls .volume-container .volume-slider {
  position: absolute;
  top: 15px;
  left: -3px;
  z-index: -1;
  width: 0;
  height: 15px;
  background: white;
  box-shadow: 0 0 20px #000a;
  transition: 0.25s;
}
.audio-player .controls .volume-container .volume-slider .volume-percentage {
  background: var(--fourth);
  height: 100%;
  width: 75%;
}
.audio-player .controls .volume-container:hover .volume-slider {
  left: -123px;
  width: 120px;
}

#rightSideMenu {
  margin-top: 5%;
  text-align: center;
}
#main button {
  margin: 5px;
  
}
.soundButton {
  background-color: var(--third);
  border-color: var(--second);
}

#songName {
  text-align: center;
  background-color: #faebd700;
  border: 0px;
  font-weight: bold;
  color: var(--first);
  font-size: 20px;
}

#songName::placeholder {
  color: var(--second);
}
#songName:hover {
  background-color: var(--first);
  color: var(--last);
}
#songName:hover::placeholder {
  color:  var(--last);
}